.projects-header {
  margin-left: 4.5vw;
  margin-top: 1vh;

  font-size: 58px;
  font-family: 'sans-serif';
  color: #ffd700;
  font-weight: 400;
  letter-spacing: 4px;
  cursor: default;
  animation: fadeInDown 1.2s 1s backwards;

  //   background: linear-gradient(to right, #ffd700 50%, #ffd700 50%, #cc2e5d 100%);
  //   background-size: 200%;
  //   background-clip: text;
  //   -webkit-background-clip: text;
  //   -webkit-text-fill-color: transparent;
  //   transition: 0.5s ease-out;
}

.projects-header:hover {
  background-position: -100%;
}

.projects-page {
  margin-top: 5vh;
  margin-left: 5vw;
  //   outline: solid;
}
