@import '../../../utilities/_variables.scss';

.used-skills-container {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 0.3rem;

  .used-skill {
    display: inline-block;
    width: max-content;
    background-color: $skill-default-color;
    border-radius: 10px;

    font-size: 1.15rem;
    font-weight: $text-header-weight;
    color: $skill-active-color;

    margin: 0px;
    padding: 0.3rem 0.5rem;

    transition: background-color 0.5s ease-out 100ms;

    &:hover {
      color: $skill-default-color;
      background-color: $skill-active-color;
      cursor: default;
    }
  }
}
