$initial-color: #ffd700;
$after-color: #022c43;

.used-skills-container {
  display: flex;
  gap: 0.3rem;

  .used-skill {
    display: inline-block;
    width: max-content;
    background-color: $initial-color;
    border-radius: 10px;

    font-size: 1.15rem;
    color: $after-color;

    margin: 0px;
    padding: 0.3rem 0.5rem;

    transition: background-color 0.5s ease-out 100ms;

    &:hover {
      color: $initial-color;
      background-color: $after-color;
      cursor: default;
    }
  }
}
