* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  /* makes border and padding be included in the width/height */
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  font-weight: normal;

  /* outline: solid; */
  /* border: solid; */
  /* border-color: blue; */
  /* for debugging */
}

html {
  scrollbar-width: thin;
  scrollbar-color: lightgrey lightgrey;
}

html::-webkit-scrollbar {
  width: 0.5vw;
}

html::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 100vw;
  border: 0.15vw solid lightgrey;
}

/* html::-webkit-scrollbar-thumb:hover {
  background-color: black;
  transition-delay: 0.1ms;
} */

html::-webkit-scrollbar-track {
  background-color: lightgrey;
}

/* html::-webkit-scrollbar-track:hover {
  background-color: white;
} */

a {
  text-decoration-color: black;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  width: 100%;
  gap: 10px;
}

.header-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 50%;
}

.header-element {
  text-align: center;
  cursor: pointer;
  padding: 1.5vh;

  color: black;
}

.header-element:hover {
  text-align: left;
  background-color: rgb(1, 197, 197);
  border-radius: 15px;
  transform: scale(1.1);
}

.header-element:active {
  transform: scale(0.9);
  background-color: white;
  color: #333;
}

.header-element:visited {
  color: black;
  text-decoration: none;
}

.circle {
  background-color: lightblue;
  width: 0.8vw;
  border-radius: 50%;
  margin: 0.5vh;
  height: 1.5vh;
}

.circle.light {
  background-color: black;
}

/* .icon-container {
  margin-top: 0.1rem;
  width: 2.3vw;
  height: fit-content;
  display: inline-block;
}

.icon-container img {
  width: 100%;
} */

/* HOME */

.intro {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
}

.introduction {
  font-size: 32px;
}

.strong-text {
  color: orangered;
}

.location {
  display: flex;
  flex-direction: column;
  justify-self: end;
  align-self: center;
}

.intro {
  height: 100vh;
  background-color: rgb(231, 231, 231);
}

.socials-container {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  width: fit-content;
  align-self: end;
}

.socials-link {
  width: fit-content;
}

/* ABOUT */

.personal {
  height: 100vh;
  background-color: rgb(88, 88, 88);
}

/* SKILLS */

.skills {
  height: 100vh;
  background-color: rgb(63, 63, 63);
}

/* PROJECTS */

.projects {
  height: 100vh;
  background-color: rgb(54, 54, 54);
}

/* CONTACT */

.contact {
  height: 100vh;
  background-color: rgb(19, 19, 19);
}
