@import '../../../utilities/_variables.scss';

.category-container {
  position: relative;
  overflow: hidden;
  padding: 2rem 2.5rem;
  justify-self: stretch;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 1.25rem;

  background-color: $skills-card-background-color;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3), 0 1px 3px rgba(0, 0, 0, 0.4);

  outline: solid;
  outline-color: $skills-card-border-color;
  outline-width: $skills-card-border-width;
  border-radius: $rounded-card-borders;

  &:hover {
    outline: none;
    background-color: inherit;
  }

  &:hover::before {
    content: '';
    position: absolute;
    z-index: 1;
    background: linear-gradient(
      $skills-rounding-border-2,
      $skills-rounding-border-1,
      $skills-rounding-border-2
    );
    animation: rotate 4s linear infinite;

    width: 250%;
    height: 6rem;

    @media screen and (min-width: 601px) {
      height: 8.5rem;
    }

    @media screen and (min-width: 901px) {
      height: 10rem;
    }

    @media screen and (min-width: 1251px) {
      height: 10rem;
    }

    @media screen and (min-width: 2201px) {
      height: 12rem;
    }
  }

  &::after {
    content: '';
    position: absolute;
    background-color: $skills-card-background-color;
    z-index: 1;
    inset: $skills-card-border-width;
    border-radius: $rounded-card-borders;
  }

  .category-name {
    color: $text-color;
    font-weight: $text-header-weight;
    font-size: 2.25rem;

    margin: 0rem;
    animation: slideInDown 1.2s 0.5s backwards;
    z-index: 3;
    cursor: default;
  }

  .category-list {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    z-index: 3;
    margin: 0;
    padding: 0;

    cursor: default;
    animation: pulse 1.2s 1s backwards;
  }

  .category-img-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .category-img {
      display: block;
      margin: 0;

      width: 5.5rem;
      height: 5.5rem;
      @media screen and (min-width: 601px) {
        width: 7.5rem;
        height: 7.5rem;
      }

      @media screen and (min-width: 901px) {
        width: 6rem;
        height: 6rem;
      }

      transition: opacity 0.3s ease 0s;
      transition: border 0s ease-in;
    }

    .category-img-name {
      font-size: 1.15rem;
      @media screen and (min-width: 601px) {
        font-size: 1.5rem;
      }
      @media screen and (min-width: 901px) {
        font-size: 1.25rem;
      }
      font-weight: $text-hover-weight;
      color: $skills-hover-text-color;

      width: auto;
      margin: auto;

      text-align: center;
      position: absolute;

      opacity: 0;
      transition: opacity 0.4s ease-in;
    }

    &:hover {
      .category-img-name {
        opacity: 1;
      }
      .category-img {
        // border-radius: $rounded-card-borders;
        // outline-style: solid;

        opacity: 0.1;
        animation: heartBeat 4s linear infinite;
      }
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
