.category-container {
  margin: 0px;
  margin-left: 20vw;
  font-size: 28px;
  text-align: center;
  width: fit-content;
  min-width: 15vw;
  display: block;

  .category-name {
    margin-bottom: 1vh;
  }

  .category-list {
    list-style: none;
    padding: 0px;
    margin: 0;
  }
}
