.logo-container {
  width: 25%;
  max-height: 80%;
  display: none;

  @media screen and (min-width: 601px) {
    display: block;
  }
  @media screen and (min-width: 1251px) {
    width: 20%;
  }

  img {
    display: block;
    max-width: 100%;
  }
}
