@import '../../utilities/_variables.scss';

.home-page {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  background-image: url('../../../public/home-images/home-background.jpg');
  background-size: cover;

  @media screen and (min-width: 901px) {
    grid-template-columns: 1fr 1fr;
  }

  justify-items: center;
  align-items: center;
  gap: 2rem;

  .home-text-container {
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;

    .home-main-text-container {
      .home-text-header {
        width: 100%;
        color: $header-color;
        font-size: 4.5rem;
        font-family: $header-font;
        font-weight: $text-weight;
        margin: 0;
        text-wrap: wrap;
      }

      .home-text-sub-header {
        color: $sub-header-color;
        font-family: $header-font;
        font-size: 1.5rem;
        font-weight: 400;
        letter-spacing: 0.25rem;

        margin-top: 1rem;
        margin-bottom: 1.5rem;

        animation: fadeIn 1s 0.9s backwards;
      }
    }

    .above-logo-container,
    .below-logo-container {
      display: none;
      @media screen and (min-width: 901px) {
        display: block;
      }

      .home-vector {
        &-monitor {
          width: 8rem;
          height: 8rem;
          margin-left: 1rem;
          margin-bottom: -1.5rem;
        }
        &-keyboard {
          width: 6rem;
          height: 6rem;
        }
        &-mouse {
          width: 3.5rem;
          height: 3.5rem;
          margin-left: 0.75rem;
          margin-top: 0.75rem;
          margin-bottom: 1.5rem;
        }
        &.developer {
          width: 9rem;
          height: 9rem;
        }
      }
    }

    .above-logo-container {
      align-self: start;

      animation: fadeIn 1s 1.3s backwards;
    }

    .below-logo-container {
      align-self: end;

      animation: fadeIn 1s 1.3s backwards;
    }
  }

  .home-img-container {
    display: none;

    @media screen and (min-width: 901px) {
      display: block;
      width: 100%;
    }

    .home-img {
      display: block;
      max-width: 75%;

      @media screen and (min-width: 2201px) {
        max-width: 60%;
      }
      border-radius: 50%;
      margin: auto;
    }
  }
}
