.home-page {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 2rem;
  align-items: center;

  .text-zone {
    h1 {
      color: white;
      font-size: 4.5rem;
      margin: 0;
      font-family: 'Roboto';
      font-weight: 400;

      img {
        width: 3.5rem;
        height: auto;

        margin-left: 1.5rem;
        animation: rotateIn 1s linear 1s both;
      }
    }

    h2 {
      color: #8d8d8d;
      margin-top: 1rem;
      margin-bottom: 1rem;
      font-weight: 300;
      font-size: 1rem;
      font-family: sans-serif;
      letter-spacing: 0.3rem;
      animation: fadeIn 1s 1.8s backwards;
    }
  }
}

// !!! Then, deal with Logo component, find a better logo?, learn how to attribute logo

.flat-button {
  display: block;
  padding: 1rem 0rem;
  width: 50%;
  text-align: center;

  @media screen and (min-width: 701px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  border: 1px solid #ffd700;
  animation: fadeIn 1s 1.3s backwards;
  white-space: nowrap;
  cursor: pointer;

  color: #ffd700;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.3rem;
  font-family: sans-serif;
  text-decoration: none;

  &:hover {
    background: #ffd700;
    color: #333;
  }
}
