.contact-form {
  width: 100%;
  margin-top: 20px;

  ul {
    padding: 0;
    margin: 0;

    li {
      padding: 0;
      margin: 0;
      list-style: none;
      margin-bottom: 10px;
      overflow: hidden;
      display: block;
      position: relative;
      opacity: 0;
      animation: jackInTheBox 1s 0.5s;
      animation-fill-mode: forwards;
      clear: both;
    }

    li.half {
      width: 49%;
      margin-left: 2%;
      float: left;
      clear: none;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  input[type='text'],
  input[type='email'] {
    width: 100%;
    border: 0;
    background: #115173;
    height: 50px;
    font-size: 16px;
    color: #fff;
    padding: 0 20px;
    box-sizing: border-box;
  }

  textarea {
    width: 100%;
    border: 0;
    background: #115173;
    height: 50px;
    font-size: 16px;
    color: #fff;
    padding: 20px;
    min-height: 150px;
    box-sizing: border-box;
  }

  .flat-button {
    color: #ffd700;
    background: 00;
    font: 11px;
    letter-spacing: 3px;
    text-decoration: none;
    padding: 8px 10px;
    border: 1px solid #ffd700;
    float: right;
    border-radius: 4px;
  }
}

.contact-info-container {
  width: 30vw;
  height: 40vh;
  margin-left: 60vw;
  margin-top: 25vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  animation: jackInTheBox 1s 0.5s;
  animation-fill-mode: forwards;
  transition: all 0.5s ease-out 0.1s;

  border-radius: 15px;
  background-color: green;

  .contact-info-header {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 4px;
  }
  .contact-info {
    font-size: 26px;
    font-weight: 500;
    letter-spacing: 3px;
  }

  &:hover {
    background-color: purple;
  }
}

.contact-header-title {
  cursor: default;
  animation: fadeInDown 1.2s 1s backwards;
}

.contact-header-paragraph {
  font-size: 18px;
  font-family: 'Roboto';
}
