@import '../../utilities/_variables.scss';

.contact-body {
  display: grid;
  gap: 4.5rem;
  grid-template-columns: 1fr;

  @media screen and (min-width: 1251px) {
    grid-template-columns: 2fr 1fr;
  }

  .contact-text-container {
    margin-bottom: 2rem;

    .contact-text {
      opacity: 0;
      animation: fadeIn 1.4s 0.5s;
      animation-delay: 0.9s;
      animation-fill-mode: forwards;
    }
  }

  .contact-form {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.25rem;

    @media screen and (min-width: 901px) {
      grid-template-columns: 1fr 1fr;
    }

    .form-input {
      height: 3rem;
      display: block;
      padding: 1.5rem;
      background-color: $form-background-color;
      border: 0;
      border-radius: 5px;

      font-size: $text-size;
      font-weight: $text-weight;
      color: $text-alternate-color;

      animation: slideInLeft 1.4s 0.5s;
      animation-fill-mode: forwards;

      &::placeholder {
        color: $text-alternate-color;
        opacity: 0.8;
      }

      &#form {
        &-subject {
          @media screen and (min-width: 901px) {
            grid-column-start: 1;
            grid-column-end: 3;
          }
        }
        &-message {
          @media screen and (min-width: 901px) {
            grid-column-start: 1;
            grid-column-end: 3;
          }
        }
      }
    }

    .form-text-area {
      @extend .form-input;
      min-height: 10rem;
    }

    .form-button {
      width: 100%;
      padding: 0.7rem 1rem;
      border: 0;
      border-radius: $rounded-card-borders;
      animation: fadeIn 1s 1.1s backwards;

      @media screen and (min-width: 901px) {
        grid-column-start: 1;
        grid-column-end: 3;
      }
      @media screen and (min-width: 1251px) {
        width: 50%;
      }
    }
  }

  .contact-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    color: $contact-card-text-color;

    border-radius: $rounded-card-borders;
    background-color: $contact-card-default-color;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3), 0 1px 3px rgba(0, 0, 0, 0.4);

    animation: slideInRight 1.4s 0.5s;
    animation-fill-mode: forwards;
    transition: box-shadow 0.3s ease, background-color 0.3s ease;

    &:hover {
      background-color: $contact-card-active-color;
      box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
    }

    .contact-info-header {
      font-size: 2rem;
      font-weight: $text-header-weight;
      letter-spacing: 0.2rem;
    }

    .contact-info {
      font-size: 1.5rem;
      font-weight: $text-header-weight;
      letter-spacing: 0.05rem;

      .contact-info-link {
        vertical-align: middle;
        margin-left: 0.5rem;

        .contact-info-link-icon {
          font-size: 2rem;
        }
      }
    }
  }
}
