.nav-bar {
  background-color: #181818;
  width: 100%;
  height: 100vh;
  min-width: 5.25rem;
  @media screen and (min-width: 901px) {
    max-width: 10vw;
  }

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;

  position: sticky;
  position: -webkit-sticky;
  top: 0;
  overflow: hidden;

  z-index: 3;

  .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    max-width: 8rem;

    @media screen and (min-width: 901px) {
      max-width: 8rem;
    }

    @media screen and (min-width: 1251px) {
      max-width: 7.5rem;
    }

    @media screen and (min-width: 2201px) {
      max-width: 7rem;
    }

    img {
      display: block;
      margin: auto;
      width: 75%;
      height: auto;

      &.sub-logo {
        width: 85%;
        margin-top: 1rem;
        display: none;
        @media screen and (min-width: 901px) {
          display: block;
        }
      }
    }
  }

  .main-nav {
    width: 100%;
    text-align: center;

    a {
      font-size: 2rem;
      color: #4d4d4e;
      display: block;
      position: relative;
      text-decoration: none;
      line-height: 5rem;
      height: 5rem;

      @media screen and (min-width: 901px) {
        line-height: 4.5rem;
        height: 4.5rem;
      }

      @media screen and (min-width: 1251px) {
        line-height: 4rem;
        height: 4rem;
      }

      @media screen and (min-width: 2201px) {
        line-height: 5rem;
        height: 5rem;
      }

      &:hover {
        color: #ffd700;

        svg {
          opacity: 0 !important;
        }

        &:after {
          opacity: 1 !important;
        }
      }

      &::after {
        width: 100%;
        display: block;
        position: absolute;
        text-align: center;

        font-size: 0.75rem;
        letter-spacing: 1px;
        bottom: 0;
        opacity: 0;
        transition: all 0.3s ease-out;

        @media screen and (min-width: 701px) {
          font-size: 0.8rem;
        }
        @media screen and (min-width: 1025px) {
          font-size: 0.85rem;
        }
      }

      &.active {
        color: #ffd700;

        svg {
          color: #ffd700;
          opacity: 0.75;
        }
      }
    }

    a.home-link {
      &::after {
        content: 'HOME';
      }
    }

    a.about-link {
      &::after {
        content: 'ABOUT';
      }
    }

    a.contact-link {
      &::after {
        content: 'CONTACT';
      }
    }

    a.skills-link {
      &::after {
        content: 'SKILLS';
      }
    }

    a.projects-link {
      &::after {
        content: 'PROJECTS';
      }
    }
  }

  .socials-link {
    width: 100%;
    display: block;
    margin: 0;
    padding-left: 0;

    list-style: none;
    text-align: center;

    li {
      a {
        display: block;
        font-size: 2rem;
        line-height: 2rem;
        padding: 0.75rem 0;

        @media screen and (min-width: 901px) {
          font-size: 1.5rem;
          padding: 0.5rem 0;
        }

        @media screen and (min-width: 2201px) {
          padding: 0.4rem 0;
        }
      }

      &:hover svg {
        color: #ffd700;
      }
    }
  }
}
