.application-container {
  margin: 0px;
  margin-bottom: 15vh;
  outline-width: 1px;
  width: 96vw;
  font-size: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1.5fr;
  gap: 10px;
  height: 35vh;

  &:hover {
    .project-description {
      opacity: 1;
    }
  }

  .application-header {
    margin-top: 1vw;

    .project-name {
      font-family: sans-serif;
      font-size: 42px;
      font-weight: 600;
      letter-spacing: 3px;

      background: linear-gradient(
        to right,
        #ffd700 50%,
        #ffd700 50%,
        #cc2e5d 100%
      );
      background-size: 200%;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: 0.5s ease-out;
      color: #ffd700;
      display: inline;
    }

    .project-name:hover {
      background-position: -100%;
      cursor: default;
    }

    .github-link {
      margin-left: 1.5em;
      vertical-align: bottom;

      .github-link-img {
        width: 2em;
        border-radius: 1em;
      }

      .github-link-img:hover {
        background-color: black;
      }
    }
  }

  .project-description {
    opacity: 0.6;
    margin-top: 0px;
    transition: opacity 0.1s ease-in-out;
    animation: pulse 1s 0.6s;
  }

  .application-images {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    justify-self: left;
    align-self: center;
    position: relative;

    .project-image-container {
      width: fit-content;

      .project-image {
        width: 45vw;
        object-fit: contain;
        transition: 0.5s ease;
        border-radius: 3px;
        border: 2px solid black;
      }

      .project-image-title {
        position: absolute;
        opacity: 0;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transition: all 0.3s ease-out;
        text-align: center;
        padding: 0;
      }

      &:hover {
        .project-image-title {
          opacity: 1;
        }

        .project-image {
          opacity: 0.5;
        }
      }
    }
  }
}
