.application-container {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 901px) {
    flex-direction: row;
  }
  justify-content: space-between;
  gap: 1.5rem;

  &:hover {
    .application-paragraph {
      opacity: 1 !important;
    }
  }

  .application-description {
    display: flex;
    flex-direction: column;

    .application-header-container {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      .application-header {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        gap: 1rem;

        .application-name {
          display: inline-block;
          font-size: 2.5rem;
          font-weight: 600;
          letter-spacing: 0.25rem;

          color: #ffd700;
          transition: 0.6s ease;

          &:hover {
            // !?! Update colour theme
            color: black;
            transition: 0.6s ease;
          }

          cursor: default;
        }

        .github-link {
          margin-right: 1rem;
          align-self: center;

          .github-link-img {
            width: 2.6rem;
            height: 100%;
            border-radius: 100%;
            vertical-align: middle;
          }

          .github-link-img:hover {
            // !?! Update colour theme
            background-color: black;
          }
        }
      }
    }

    .application-paragraph {
      font-size: 1.35rem;
      opacity: 0.8;
      transition: opacity 0.1s ease-in-out;
      animation: pulse 1s 0.6s;
    }
  }

  .application-image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex: 0 0 50%;

    .application-image {
      width: 100%;
      // max-width: 100%;
      // max-height: 25rem;

      object-fit: cover;
      transition: 0.5s ease;
      border-radius: 1rem;

      // !?! Change colour when updating color scheme
      border: 0.15rem solid black;
    }

    .application-image-title {
      position: absolute;
      transition: all 0.3s ease-out;
      text-align: center;
      font-size: 1.5rem;
      padding: 5rem;
      opacity: 0;
    }

    &:hover {
      .application-image-title {
        opacity: 1;
      }

      .application-image {
        opacity: 0.5;
      }
    }
  }
}
