*,
*::before,
*::after {
  box-sizing: border-box;
  /* outline: solid; */
}

html {
  font-size: 62.5%;
  font-family: 'Roboto';

  scrollbar-width: thin;
  scrollbar-color: lightgrey lightgrey;
}

html::-webkit-scrollbar {
  width: 0.5vw;
}

html::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 100vw;
  border: 0.15vw solid lightgrey;
}

body {
  margin: 0;
  font: 300 11px/1.4 'Roboto', 'sans-serif';
  overflow-x: hidden;
  display: block;
  background: #022c43;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 19fr;
}

@media screen and (min-width: 601px) {
  html {
    font-size: 12px;
  }
}

@media screen and (min-width: 901px) {
  #root {
    grid-template-columns: 1fr 10fr;
  }
}

@media screen and (min-width: 1251px) {
  html {
    font-size: 15px;
  }

  #root {
    display: grid;
    grid-template-columns: 1fr 12fr;
  }
}

@media screen and (min-width: 2201px) {
  html {
    font-size: 20px;
  }

  #root {
    display: grid;
    grid-template-columns: 1fr 15fr;
  }
}
