html {
  font-size: 62.5%;
  font-family: 'Roboto';
}

body {
  margin: 0;
  font: 300 11px/1.4 'Roboto', 'sans-serif';
  overflow-x: hidden;
  display: block;
  background: #022c43;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scrollbar-width: thin;
  scrollbar-color: lightgrey lightgrey;
}

html::-webkit-scrollbar {
  width: 0.5vw;
}

html::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 100vw;
  border: 0.15vw solid lightgrey;
}
